*{
    margin: 0;
    
} 

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}  

h1 {
    color:white;
    font-size: 2em;
    background-color: #aed9e0;
    padding: 10px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #414535;
}
p {
    font-family: 'Open Sans', sans-serif;
}

.head{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #aed9e0;
    padding: 0px;
    text-align: center;
    color:white;
    height: 20vh;
    position: sticky; 
    z-index: 3;
    top: 0; 
    left: 0;
    width: 100%; 
}



/* Nav bar */
.navbar{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    text-align: center;
    overflow: hidden;
    background-color: #aed9e0;     
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* nav bar end */

.welcome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #faf3dd;
    text-align: center;
    height: 40vh;
    
}

.about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #ffa69e;
    height: 40vh;
}

.package{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #89B0AE;
    height: 40vh;
}

.whiteback{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: whitesmoke;
    height: 10vh;
} 

.contactus{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #aed9e0;
    height: 12vh;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .fabric {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.bgimg-1 {
    background-image: url("../Vocan.jpg");
    min-height: 500px;
} 
.bgimg-2 {
    background-image: url("../Maple.JPG");
    min-height: 400px;
}
.bgimg-3 {
    background-image: url("../Iona.jpg");
    min-height: 400px;
}
.bgimg-4 {
    background-image: url("../TY.jpg");
    min-height: 500px;
}
.fabric{
    background-image: url("../pages/fabric.jpg");
    min-height: 250px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
  
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;

}
.contactmap{
    background-color:#aed9e0 ;
} 

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 5em;
    font-family: 'Reenie Beanie', cursive;
}

.links:hover{
    color:#414535;

}

.product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
}

/* recycle-ling gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: whitesmoke;
}

.container {
    position: relative;
}

.container:hover .overlay {
    opacity: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
}

.description {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/* recycle-ling gallery end */



/* nature gallery panel */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: whitesmoke;
}
  
  /* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
 /* nature gallery panel end */



 /* Carousel */

 * {box-sizing:border-box}

 /* Slideshow container */
.slideshow-container {
   max-width: 100%;
   position: relative;
   margin: auto;
}
 
 /* Hide the images by default */
.mySlides {
   display: none;
}
 
 /* Next & previous buttons */
.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}
 
 /* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}
 
 /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}
 
 /* Caption text */
.text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
}
 
 /* Number text (1/3 etc) */
.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}
 
 /* The dots/bullets/indicators */
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
 
.active, .dot:hover {
   background-color: #717171;
}
 
 /* Fading animation */
.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}
 
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}
 
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}
/* Carousel end */



/* contact form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
  }
  
  button[type=button] {
    background-color: #faf3dd;
    color: grey;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=button]:hover {
    background-color: #ffa69e;
    color: white
  }
  
  .form {
    border-radius: 5px;
    background-color: #aed9e0;
    padding: 40px 300px;
    font-family: 'Open Sans', sans-serif;

}

/* Clear floats after the columns */
.formrow:after {
    content: "";
    display: table;
    clear: both;
  }  







/* ALL pages responsive code */
  /* nature and recycle-lingpage responsive */
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 48%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

  /* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
      background-attachment: scroll;
    }
} */


#insta{
    font-size: 40px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
    color: grey;
}

.fa-instagram{
    color: white;
}

footer{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    text-align: center;
    background-color: #aed9e0
}